.opacity-enter-from,
.opacity-leave-to {
  opacity: 0;
}
.opacity-enter-active,
.opacity-leave-active {
  transition: opacity 0.35s ease-out;
}
.opacity-enter-to,
.opacity-leave-from {
  opacity: 1;
}

.move-in-enter-from,
.move-in-leave-to {
  opacity: 0;
  transform: translateY(-1rem);
}

.move-in-enter-active,
.move-in-leave-active {
  transition: opacity 0.35s cubic-bezier(0.5, 0, 0.5, 1),
    transform 0.35s cubic-bezier(0.5, 0, 0.5, 1);
}

.move-in-enter-to,
.move-in-leave-from {
  opacity: 1;
  transform: translateY(0);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-enter-from {
  opacity: 0; /* 開始時透明 */
  transform: translateX(100%); /* 從左側移入 */
}

.fade-enter-to {
  opacity: 1; /* 結束時不透明 */
  transform: translateX(0); /* 回到原位 */
}

.fade-leave-from {
  opacity: 1; /* 開始時不透明 */
  transform: translateX(0); /* 保持在原位 */
}

.fade-leave-to {
  opacity: 0; /* 結束時透明 */
  transform: translateX(100%); /* 向右側移出 */
}
