*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  line-height: 1.5;
  font-family: "Poppins", "Noto Sans TC", Inter, Avenir, Helvetica, Arial,
    sans-serif;
  font-weight: 500;
  font-synthesis: none;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1366px) {
    font-size: calc(10 / 16 * 100%);// 1rem = 10px
  }
  @media (max-width: 575.98px) {
    font-size: calc(8 / 16 * 100%);
  }
  @media (max-width: 375px) {
    font-size: calc(6 / 16 * 100%);
  }
  @media (min-width: 1367px) {
    font-size: calc(12 / 16 * 100%);
  }
  
}



body,
#app {
  position: relative;
  height: 100%;
  width: 100%;
  color: var(--eip-color-text);
  overflow: hidden;
}

body,
#app,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
label,
input,
button {
  font-family: inherit;
  font-weight: inherit;
  margin: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--eip-color-text);
  -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
}

input,
button {
  border: none;
  outline: none;
}

label {
  display: inline-block;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

hr{
  height: 0.5px !important;
}


