@use "mixin" as *;
.new {
  &__container {
    @extend %popup-base-setting;
    flex-direction: column;
    margin-top: var(--cafe--margin-xs);
    border: 0.1rem solid var(--cafe-color-brown-lighter);
    color: var(--cafe-color-brown);
    padding: var(--cafe--padding-sm);
    transition: none;
    p {
      font-size: 1.2rem;
    }
  }
  &__hr {
    @extend %hr-dotted-setting;
  }
  &__gray-text {
    color: var(--cafe-color-gray-darken);
  }
  &__strong-text {
    font-weight: 600;
  }
}
