%base-btn-setting {
  display: flex;
  border-radius: var(--cafe-radius-md);
  border: 0.1rem solid var(--cafe-color-brown-lighter);
  transition: all 0.35s ease-in-out;
}

%base-btn-hover {
  color: var(--cafe-color-white);
  background-color: var(--cafe-color-brown);
   transition: all 0.2s ease-in-out;
}

%popup-base-setting {
  display: flex;
  border-radius: var(--cafe-radius-sm);
  background: var(--cafe-color-white);
}
%popup-base-setting-2 {
  display: flex;
  border-radius: var(--cafe-radius-sm);
  background: var(--cafe-color-brown);
  color: var(--cafe-color-white);
  border: 0.1rem solid var(--cafe-color-brown-lighter);
   transition: all 0.2s ease-in-out;
  &:hover {
    background: var(--cafe-color-white);
    color: var(--cafe-color-brown);
  }
}

%center-setting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%hr-dotted-setting {
  border: 0;
  opacity: 100;
  background: var(--cafe-color-brown);
  border-top: 0.2rem dashed var(--cafe-color-white);
}

%text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin flex-center($direction: column, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin style-color(
  $text-color: var(--cafe-color-white),
  $bg-color: var(--cafe-color-brown)
) {
  color: $text-color;
  background: $bg-color;
}

@mixin border(
  $border-color: var(--cafe-color-brown),
  $border-width: 0.1rem,
  $border-radius: var(--cafe-radius-md)
) {
  border: $border-width solid $border-color;
  border-radius: $border-radius;
}

@mixin absolute-setting(
  $top: 50%,
  $left: 50%,
  $right: auto,
  $bottom: auto,
  $transform: translate(-50%, -50%)
) {
  content: "";
  display: block;
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
  transform: $transform;
}
