%base-btn-setting {
  display: flex;
  border-radius: var(--cafe-radius-md);
  border: 0.1rem solid var(--cafe-color-brown-lighter);
  transition: all 0.35s ease-in-out;
}

%base-btn-hover {
  color: var(--cafe-color-white) ;
  background-color: var(--cafe-color-brown);
  transition: all 0.1s ease-in-out;
}

%popup-base-setting {
  display: flex;
  border-radius: var(--cafe-radius-sm);
  background: var(--cafe-color-white);
}
%popup-base-setting-2 {
  display: flex;
  border-radius: var(--cafe-radius-sm);
  background: var(--cafe-color-brown);
  color: var(--cafe-color-white);
  border: 0.1rem solid var(--cafe-color-brown-lighter);
  transition: all 0.1s ease-in-out;
  &:hover{
    background: var(--cafe-color-white);
    color: var(--cafe-color-brown);
  }
}

%check-and-setting {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}


%center-setting{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%hr-dotted-setting {
  border: 0;
  opacity: 100;
  background: var(--cafe-color-brown);
  border-top: 0.2rem dashed var(--cafe-color-white);
}