.popup {
    &__wrapper {
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      inset: 0;
      z-index: 2000;
      background-color: var(--cafe-color-background);
      svg {
        @extend %base-btn-setting;
        width: 2.5rem;
        height: 2.5rem;
        transform: rotate(45deg);
        color: var(--cafe-color-brown);
        background: var(--cafe-color-white);
        cursor: pointer;
      }
    }
  
    &__container {
      @extend %Popup-base-setting;
      position: relative;
      flex-direction: column;
      width: 60rem;
      height: 80vh;
      overflow: hidden;
      svg {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
      }
    }
  
    &__header {
      @extend %Popup-base-setting;
      justify-content: space-between;
      padding: 1rem;
      z-index: 2;
  
      h2 {
        font-size: 1.6rem;
        color: var(--eip-color-gray);
        margin: 0; /* 移除 margin */
      }
    }
  
    &__content {
      flex: 1;
      overflow-y: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  
    &__footer {
      @extend %Popup-base-setting;
      padding: 1.5rem 2rem;
      gap: 1rem;
      z-index: 2;
  
      button {
        color: var(--eip-color-text);
        background-color: var(--eip-color-bg);
      }
    }
  }

  .popup{
    &__img {
        height: 205px;
        width: 100%;
        object-fit: cover;
        &-rounded {
          border-top-right-radius: var(--cafe-radius-sm);
          border-top-left-radius: var(--cafe-radius-sm);
        }
      }
    &__text-content{
        display: grid;
        padding: 2rem;
        gap: 1rem;
        color: var(--cafe-color-brown);
        span{
            font-size: 1.4rem;
            color: var(--cafe-color-brown-lighter);
        }
        p{
            font-size: 1.5rem;
        }
    }
    &__text{
      &-option{
        padding: 0 var(--cafe--padding-sm) ;
        color: var(--cafe-color-brown);
        line-height: 1.7;
        h3,h5,li{
          line-height: inherit;
        }
        h5{
          font-size: var(--cafe--font-sm);
        }
        li{
          font-size: var(--cafe--font-md);
        }
        input{
        width: 0;
        visibility: hidden;
        }
        label{
          font-size: 1.6rem;
          cursor: pointer;
          position: relative;
          padding-left: 3rem;
        }
      }
    }
  }

  

  input[type="radio"]:checked + label .check__and-radio::after,
  input[type="checkbox"]:checked + label .check__and-radio::after
  {
    opacity: 1;
  }
  

  @media (min-width: 768px) {
    .popup__img {
      height: 317px;
    }
  }

  @media (max-width: 768px) {
    .popup {
      &__container {
        max-width: 400px;
      }
    }
  }
  @media (max-width: 400px) {
    .popup {
      &__wrapper {
        position: fixed;
        display: block;
      }
      &__container {
        height: 100%;
      }
      &__header,
      &__footer {
        border-radius: 0px;
      }
    }
  }