:root {
  --cafe-color-white: #ffffff;
  --cafe-color-transparent: #fffdf9;
  --cafe-color-bisque: #fef8ea;
  --cafe-color-gray: #f2f2f2;
  --cafe-color-gray-darken: #959595;
  --cafe-color-brown: #7f252e;
  --cafe-color-brown-lighter: rgba(98, 27, 34, 0.21);
  --cafe-color-background: rgba(0, 0, 0, 0.3);
  --cafe-color-red: rgb(255, 240, 238);
  --cafe-color-red-darken: rgb(222, 17, 53);
  --cafe-color-green: rgb(234, 246, 237);
  --cafe-color-green-darken: #0e8345;

  --cafe-radius-xxs: 0.5rem;
  --cafe-radius-xs: 0.8rem;
  --cafe-radius-sm: 1rem;
  --cafe-radius-md: 1.3rem;
  --cafe-radius-lg: 2rem;
  --cafe-radius-xl: 3rem;

  --cafe--font-xs: 0.9rem;
  --cafe--font-sm: 1rem;
  --cafe--font-md: 1.2rem;
  --cafe--font-lg: 1.4rem;
  --cafe--font-xl: 1.5rem;
  --cafe--font-xxxl: 1.8rem;

  --cafe--padding-xxs: 0.5rem;
  --cafe--padding-xs: 1rem;
  --cafe--padding-sm: 1.5rem;
  --cafe--padding-lg: 2rem;
  --cafe--padding-xxl: 3rem;

  --cafe--margin-xxs: 0.5rem;
  --cafe--margin-xs: 1rem;
  --cafe--margin-sm: 1.5rem;
}
