:root {
  --cafe-color-white: #ffffff;
  --cafe-color-transparent:#FFFDF9;
  --cafe-color-bisque: #fef8ea;
  --cafe-color-gray: #f2f2f2;
  --cafe-color-brown: #7f252e;
  --cafe-color-brown-lighter: rgba(98, 27, 34, 0.21);
  --cafe-color-background: rgba(0, 0, 0, 0.3);

  --cafe-radius-xxs: 0.5rem;
  --cafe-radius-xs: 0.8rem;
  --cafe-radius-sm: 1rem;
  --cafe-radius-md: 1.3rem;
  --cafe-radius-lg: 2rem;
  --cafe-radius-xl: 3rem;

  --cafe--font-xs: 0.9rem;
  --cafe--font-sm: 1rem;
  --cafe--font-md: 1.2rem;
}
