@charset "UTF-8";
:root {
  --cafe-color-white: #ffffff;
  --cafe-color-transparent:#FFFDF9;
  --cafe-color-bisque: #fef8ea;
  --cafe-color-gray: #f2f2f2;
  --cafe-color-brown: #7f252e;
  --cafe-color-brown-lighter: rgba(98, 27, 34, 0.21);
  --cafe-color-background: rgba(0, 0, 0, 0.3);
  --cafe-radius-xxs: 0.5rem;
  --cafe-radius-xs: 0.8rem;
  --cafe-radius-sm: 1rem;
  --cafe-radius-md: 1.3rem;
  --cafe-radius-lg: 2rem;
  --cafe-radius-xl: 3rem;
  --cafe--font-xs: 0.9rem;
  --cafe--font-sm: 1rem;
  --cafe--font-md: 1.2rem;
}

.opacity-enter-from,
.opacity-leave-to {
  opacity: 0;
}

.opacity-enter-active,
.opacity-leave-active {
  transition: opacity 0.35s ease-out;
}

.opacity-enter-to,
.opacity-leave-from {
  opacity: 1;
}

.move-in-enter-from,
.move-in-leave-to {
  opacity: 0;
  transform: translateY(-1rem);
}

.move-in-enter-active,
.move-in-leave-active {
  transition: opacity 0.35s cubic-bezier(0.5, 0, 0.5, 1), transform 0.35s cubic-bezier(0.5, 0, 0.5, 1);
}

.move-in-enter-to,
.move-in-leave-from {
  opacity: 1;
  transform: translateY(0);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  line-height: 1.5;
  font-family: "Poppins", "Noto Sans TC", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-synthesis: none;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 1366px) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 575.98px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 37.5%;
  }
}
@media (min-width: 1367px) {
  html {
    font-size: 75%;
  }
}

body,
#app {
  position: relative;
  height: 100%;
  width: 100%;
  color: var(--eip-color-text);
  overflow: hidden;
}

body,
#app,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
label,
input,
button {
  font-family: inherit;
  font-weight: inherit;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--eip-color-text);
  -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0) inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input,
button {
  border: none;
  outline: none;
}

label {
  display: inline-block;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.popup__wrapper svg, .menu__content li, .User__side-left, .User__side-right, .User__side-label li {
  display: flex;
  border-radius: var(--cafe-radius-md);
  border: 0.1rem solid var(--cafe-color-brown-lighter);
  transition: all 0.35s ease-in-out;
}

.popup__footer, .popup__header, .popup__container {
  display: flex;
  border-radius: var(--cafe-radius-sm);
  background: var(--cafe-color-white);
}

.User__container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 3rem 3rem 0;
  gap: 1rem;
  overflow-x: hidden;
}
.User__side {
  position: relative;
  background-color: var(--cafe-color-bisque);
  z-index: 1;
}
.User__side-label {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0rem;
  overflow-x: auto;
  scrollbar-width: none;
}
.User__side-label li {
  flex-direction: column;
  align-items: center;
  padding: 0.8rem;
  color: var(--cafe-color-brown-lighter);
  background-color: var(--cafe-color-transparent);
  cursor: pointer;
  z-index: 1;
}
.User__side-label li:active, .User__side-label li:hover {
  color: var(--cafe-color-brown);
  border: 0.1rem solid var(--cafe-color-brown);
  background-color: var(--cafe-color-white);
}
.User__side-label li img {
  max-width: 100%;
  height: 4rem;
  width: 5rem;
  margin-bottom: 0.5rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.User__side-label li h5 {
  font-size: var(--cafe--font-xs);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 7ch;
}
.User__side-label-margin {
  margin: 0 3rem;
}
.User__side-left, .User__side-right {
  position: absolute;
  top: 50%;
  padding: 0.7rem;
  border: 0.1rem solid var(--cafe-color-brown);
  background-color: var(--cafe-color-white);
  color: var(--cafe-color-brown);
  transform: translateY(-50%);
  cursor: pointer;
}
.User__side-left:hover, .User__side-right:hover {
  color: var(--cafe-color-white);
  background-color: var(--cafe-color-brown);
}
.User__side-left svg, .User__side-right svg {
  width: 1rem;
  height: 1rem;
}
.User__side-left {
  transform: rotate(180deg) translateY(50%);
  left: 0;
}
.User__side-right {
  right: 0;
}

.menu__content {
  color: var(--cafe-color-brown);
  max-width: 100%;
  max-height: calc(100vh - 20rem);
  scrollbar-width: none;
  overflow-y: auto;
}
.menu__content::-webkit-scrollbar {
  width: 0; /* 隱藏滾動條寬度 */
}
.menu__content h1 {
  font-size: 1.8rem;
  line-height: 1.5;
}
.menu__content h3 {
  font-size: 1.4rem;
}
.menu__content ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}
.menu__content li {
  background-color: var(--cafe-color-white);
  cursor: pointer;
  overflow: hidden;
}
.menu__content li div:first-child {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 1rem;
  line-height: 2;
}
.menu__content li div:first-child p,
.menu__content li div:first-child span {
  font-size: 1.1rem;
}
.menu__content li div:first-child span {
  color: var(--cafe-color-brown-lighter);
}
.menu__content li div:nth-of-type(2) {
  position: relative;
  display: grid;
  margin: 1rem;
  border-radius: 1rem;
  overflow: hidden;
}
.menu__content li div:nth-of-type(2) img {
  height: 10rem;
  width: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu__content svg {
  position: relative;
  height: 2rem;
  width: 2rem;
  color: var(--cafe-color-brown);
}
.menu__content button {
  width: 2.5rem;
  height: 2.5rem;
  transition: all 0.1s ease-in-out;
  background-color: var(--cafe-color-white);
  border-radius: var(--cafe-radius-lg);
}
.menu__btn {
  position: absolute;
  display: flex;
  align-items: center;
  height: 2.5rem;
  bottom: 5%;
  right: 5%;
  overflow: hidden;
  border-radius: var(--cafe-radius-lg);
  background-color: var(--cafe-color-white);
  transition: all 0.1s ease-in-out;
}
.menu__btn-content {
  flex-direction: row !important;
  margin: 0 !important;
}
.menu__btn-content div {
  display: flex;
  width: 1.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.menu__btn-num {
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1.5rem;
  color: var(--cafe-color-brown);
}
.menu__btn-trash {
  padding-top: 0.1rem;
  text-align: center;
}
.menu__btn-trash svg {
  width: 1.2rem;
}
.menu__btn-add {
  position: relative;
  z-index: 2;
}
.menu__btn-circle {
  position: absolute;
  top: 7rem;
  left: 70%;
  width: 2.5rem;
  bottom: -6%;
  right: -60%;
}

@media (max-width: 640px) {
  .menu__content {
    max-height: calc(100vh - 26rem);
  }
}
.popup__wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  z-index: 2000;
  background-color: var(--cafe-color-background);
}
.popup__wrapper svg {
  width: 2.5rem;
  height: 2.5rem;
  transform: rotate(45deg);
  color: var(--cafe-color-brown);
  background: var(--cafe-color-white);
  cursor: pointer;
}
.popup__container {
  position: relative;
  flex-direction: column;
  width: 60rem;
  height: 80vh;
  overflow: hidden;
}
.popup__container svg {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}
.popup__header {
  justify-content: space-between;
  padding: 1rem;
  z-index: 2;
}
.popup__header h2 {
  font-size: 1.6rem;
  color: var(--eip-color-gray);
  margin: 0; /* 移除 margin */
}
.popup__content {
  flex: 1;
  overflow-y: auto;
}
.popup__content::-webkit-scrollbar {
  display: none;
}
.popup__footer {
  padding: 1.5rem 2rem;
  gap: 1rem;
  z-index: 2;
}
.popup__footer button {
  color: var(--eip-color-text);
  background-color: var(--eip-color-bg);
}

.popup__img {
  height: 205px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.popup__img-rounded {
  border-top-right-radius: var(--cafe-radius-sm);
  border-top-left-radius: var(--cafe-radius-sm);
}
.popup__text-content {
  display: grid;
  padding: 2rem;
  gap: 1rem;
  color: var(--cafe-color-brown);
}
.popup__text-content span {
  font-size: 1.4rem;
  color: var(--cafe-color-brown-lighter);
}
.popup__text-content p {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .popup__img {
    height: 317px;
  }
}
@media (max-width: 768px) {
  .popup__container {
    max-width: 400px;
  }
}
@media (max-width: 400px) {
  .popup__wrapper {
    position: fixed;
    display: block;
  }
  .popup__container {
    height: 100%;
  }
  .popup__header, .popup__footer {
    border-radius: 0px;
  }
}/*# sourceMappingURL=style.css.map */