@use "../mixin" as *;
.User {
  &__container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0rem 3rem;
    overflow-x: hidden;
    position: relative;
  }

  &__side {
    position: relative;
    background-color: var(--cafe-color-bisque);
    z-index: 1;
    &-row {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      flex-grow: 1;
      overflow: hidden;
    }
    &-col {
      margin-top: 0 !important;
      height: 100%;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
    &-label {
      display: flex;
      gap: 1rem;
      padding: var(--cafe--padding-xs) 0;
      overflow-x: auto;
      li {
        @extend %base-btn-setting;
        flex-direction: column;
        align-items: center;
        padding: 0.8rem;
        color: var(--cafe-color-brown-lighter);
        background-color: var(--cafe-color-transparent);
        cursor: pointer;
        z-index: 1;
        &:hover {
          color: var(--cafe-color-brown);
          background-color: var(--cafe-color-white);
        }
        img {
          max-width: 100%;
          height: 4rem;
          width: 5rem;
          margin-bottom: 0.5rem;
          object-fit: contain;
        }
        h5 {
          font-size: var(--cafe--font-xs);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 7ch;
        }
      }
    }
    &-label-margin {
      margin: 0 3rem;
    }
    &-left,
    &-right {
      @extend %base-btn-setting;
      position: absolute;
      top: 50%;
      padding: 0.7rem;
      border: 0.1rem solid var(--cafe-color-brown);
      background-color: var(--cafe-color-white);
      color: var(--cafe-color-brown);
      transform: translateY(-50%);
      cursor: pointer;
      &:hover {
        color: var(--cafe-color-white);
        background-color: var(--cafe-color-brown);
      }
      svg {
        width: 1rem;
        height: 1rem;
      }
    }

    &-left {
      transform: rotate(180deg) translateY(50%);
      left: 0;
    }

    &-right {
      right: 0;
    }
  }

  &__shop {
    &-container {
      @extend %base-btn-setting;
      flex-direction: column;
      max-height: calc(100vh - 11.5rem);
      color: var(--cafe-color-brown);
      background-color: var(--cafe-color-white);
      margin-top: var(--cafe--margin-xs);
      padding: var(--cafe--padding-sm);
      overflow: hidden;
      h3 {
        line-height: 1.5;
      }
      hr {
        @extend %hr-dotted-setting;
      }
    }
    &-content {
      height: 100vh;
      max-height: calc(50%);
      overflow-y: auto;
      margin: var(--cafe--margin-sm) 0;
      ::-webkit-scrollbar {
        display: none;
      }
      img {
        width: 10rem;
        height: 10rem;
        object-fit: cover;
        border-radius: var(--cafe-radius-sm);
      }
    }
    &-clear {
      @extend %center-setting;
      color: var(--cafe-color-brown-lighter);
      height: 100%;
      svg {
        color: var(--cafe-color-brown-lighter) !important;
        width: 8rem !important;
        height: 8rem !important;
        color: inherit;
        margin-bottom: var(--cafe--margin-xs);
      }
    }
    &-btn {
      @extend %popup-base-setting-2;
      display: block;
      text-align: center;
      font-size: var(--cafe--font-xl);
      padding: var(--cafe--margin-xs);
      margin: var(--cafe--margin-xxs) 0;
      width: 100%;
    }
    &-option {
      color: var(--cafe-color-brown-lighter);
    }
  }

  &__footer {
    background-color: var(--cafe-color-white);
    bottom: 0;
    left: 0;
    position: fixed;
    padding: var(--cafe--padding-xs) var(--cafe--padding-lg);
    z-index: 500;
  }
}
.menu {
  &__content {
    color: var(--cafe-color-brown);
    max-width: 100%;
    max-height: calc(100vh - 21rem);
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0; /* 隱藏滾動條寬度 */
    }
    h1 {
      font-size: 1.8rem;
      line-height: 1.5;
    }
    h3 {
      font-size: 1.4rem;
    }
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
      gap: 1.5rem;
      margin-top: 2rem;
    }
    li {
      @extend %base-btn-setting;
      background-color: var(--cafe-color-white);
      cursor: pointer;
      overflow: hidden;

      div:first-child {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin: 1rem;
        line-height: 2;
        p,
        span {
          font-size: 1.1rem;
        }
        span {
          color: var(--cafe-color-brown-lighter);
        }
      }
    }
  }
  &__image {
    position: relative;
    display: flex;
    flex-grow: 0;
    justify-content: end;
    margin: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    img {
      height: 10rem;
      width: 10rem;
      object-fit: cover;
    }
    svg {
      position: relative;
      height: 2.5rem;
      width: 2.5rem;
      padding: 0.25rem;
      color: var(--cafe-color-brown);
      &:hover {
        color: var(--cafe-color-white);
      }
    }
    button {
      width: 2.5rem;
      height: 2.5rem;
      transition: all 0.2s ease-in-out;
      background-color: var(--cafe-color-white);
      border-radius: var(--cafe-radius-lg);
      &:hover {
        @extend %base-btn-hover;
      }
    }
  }
  &__btn {
    position: absolute;
    display: flex;
    align-items: center;
    height: 2.5rem;
    bottom: 5%;
    right: 5%;
    overflow: hidden;
    color: var(--cafe-color-brown);
    border-radius: var(--cafe-radius-lg);
    background-color: var(--cafe-color-white);
    transition: all 0.2s ease-in-out;
    &-content {
      display: flex;
      justify-content: end;
      flex-direction: row !important;
      margin: 0 !important;
      div {
        @extend %center-setting;
        width: 1.5rem;
      }
    }
    &-num {
      height: 1.5rem;
      width: 1.5rem;
      font-size: 1.5rem;
    }
    &-trash {
      text-align: center;
      svg {
        padding: 0.5rem 0.7rem 0.7rem 0.7rem;
        width: 100%;
      }
    }
    &-add {
      position: relative;
      z-index: 2;
      color: inherit;
    }
    &-circle {
      position: absolute;
      top: 7rem;
      left: 70%;
      width: 2.5rem;
      bottom: -6%;
      right: -60%;
    }
  }
}

@media (max-width: 991px) {
  .User {
    &__shop {
      &-container {
        margin: 0;
        border: none;
        padding: 0 var(--cafe--padding-sm);
        h3 {
          display: none;
        }
        .d-flex > .User__shop-btn {
          display: none;
        }
        hr,
        .d-flex.justify-content-between.mb-2,
        .d-flex.justify-content-between {
          display: none !important;
        }
      }
      &-content {
        height: 100%;
      }
      &-clear {
        margin-top: 20vh;
      }
      &-icon {
        border: none !important;
      }
    }
    &__footer {
      display: none;
    }
  }
  .menu__image {
    border: none;
  }
}

@media (max-width: 575.98px) {
  .menu__content {
    flex-grow: 1;
  }
  .User__side-row {
    margin-bottom: 2rem !important;
  }
}
