@use "../mixin" as *;
.popup {
  &__wrapper {
    padding: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    z-index: 2000;
    background-color: var(--cafe-color-background);
  }
  &__close {
    position: absolute;
    right: 2rem;
    top: 1.5rem;
    cursor: pointer;
    border: 0.1rem solid var(--cafe-color-brown-lighter) !important;
    transform: rotate(45deg);
  }
  &__minus {
    padding: 0 var(--cafe--padding-xxxs);
  }
  &__container {
    @extend %popup-base-setting;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    svg {
      @extend %base-btn-setting;
      width: 2.5rem;
      height: 2.5rem;
      color: var(--cafe-color-brown);
      background: var(--cafe-color-white);
      border: none;
      z-index: 1;
      &:hover {
        @extend %base-btn-hover;
      }
      &:disabled {
        background-color: inherit;
        color: var(--cafe-color-brown);
      }
    }
  }

  &__header {
    @extend %popup-base-setting;
    justify-content: space-between;
    padding: var(--cafe--padding-lg);
    color: var(--cafe-color-brown);
    z-index: 2;

    h2 {
      font-size: var(--cafe--font-md);
      color: var(--cafe-color-gray-darken);
      margin: 0;
    }
    svg {
      border: 0.1rem solid var(--cafe-color-brown-lighter);
    }
  }

  &__content {
    flex: 1;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__img {
    height: 205px;
    width: 100%;
    object-fit: cover;
  }
  &__text-content {
    display: grid;
    padding: 0 var(--cafe--padding-lg);
    gap: 0.5rem;
    color: var(--cafe-color-brown);
    span {
      font-size: var(--cafe--font-md);
      color: var(--cafe-color-brown-lighter);
    }
    p {
      font-size: var(--cafe--font-xl);
    }
  }

  &__footer {
    @extend %popup-base-setting;
    font-size: var(--cafe--font-lg);
    padding: var(--cafe--padding-xs) var(--cafe--padding-lg);
    gap: 1rem;
    z-index: 2;
    color: var(--cafe-color-brown);
    p {
      text-align: center;
      width: 2rem;
    }
    svg {
      border: 0.1rem solid var(--cafe-color-brown-lighter);
    }
    &-button {
      padding: var(--cafe--padding-xxxs) var(--cafe--padding-xs);
      @extend %popup-base-setting-2;
      letter-spacing: 0.2rem;
      align-items: center;
      background-color: var(--cafe-color-brown) !important;
      cursor: pointer;
      &:hover {
        background-color: var(--cafe-color-white) !important;
      }
      &::after {
        content: ""; /* 移除最後一個字後的間距 */
        margin-right: -0.1em;
      }
    }
  }
}

@media (min-width: 991px) {
  .popup {
    &__none {
      display: none !important;
    }
  }
}

@media (min-width: 768px) {
  .popup__img {
    height: 317px;
  }
}

@media (max-width: 425px) {
  .popup__container {
    border-radius: 0 !important;
  }
}
