@use "../mixin" as *;
.popup {
  &__wrapper {
    padding: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    z-index: 2000;
    background-color: var(--cafe-color-background);
  }
  &__close {
    position: absolute;
    right: 2rem;
    top: 1.5rem;
    cursor: pointer;
    border: 0.1rem solid var(--cafe-color-brown-lighter) !important;
    transform: rotate(45deg);
  }
  &__minus {
    padding: 0 var(--cafe--padding-xxs);
  }
  &__container {
    @extend %popup-base-setting;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    svg {
      @extend %base-btn-setting;
      width: 2.5rem;
      height: 2.5rem;
      color: var(--cafe-color-brown);
      background: var(--cafe-color-white);
      border: none;
      z-index: 1;
      &:hover {
        @extend %base-btn-hover;
      }
      &:disabled {
        background-color: inherit;
        color: var(--cafe-color-brown);
      }
    }
  }

  &__header {
    @extend %popup-base-setting;
    justify-content: space-between;
    padding: var(--cafe--padding-lg);
    color: var(--cafe-color-brown);
    z-index: 2;

    h2 {
      font-size: var(--cafe--font-xl);
      color: var(--eip-color-gray);
      margin: 0;
    }
    svg {
      border: 0.1rem solid var(--cafe-color-brown-lighter);
    }
  }

  &__content {
    flex: 1;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__footer {
    @extend %popup-base-setting;
    font-size: var(--cafe--font-lg);
    padding: var(--cafe--padding-xs) var(--cafe--padding-lg);
    gap: 1rem;
    z-index: 2;
    color: var(--cafe-color-brown);
    p {
      text-align: center;
      width: 2rem;
    }
    svg {
      border: 0.1rem solid var(--cafe-color-brown-lighter);
    }
    &-button {
      padding: var(--cafe--padding-xxs) var(--cafe--padding-xs);
      @extend %popup-base-setting-2;
      letter-spacing: 0.2rem;
      align-items: center;
      background-color: var(--cafe-color-brown) !important;
      &:hover {
        background-color: var(--cafe-color-white) !important;
      }
      &::after {
        content: ""; /* 移除最後一個字後的間距 */
        margin-right: -0.1em;
      }
    }
  }
}

.popup {
  &__img {
    height: 205px;
    width: 100%;
    object-fit: cover;
  }
  &__text-content {
    display: grid;
    padding: 0 var(--cafe--padding-lg);
    gap: 0.5rem;
    color: var(--cafe-color-brown);
    span {
      font-size: var(--cafe--font-md);
      color: var(--cafe-color-brown-lighter);
    }
    p {
      font-size: var(--cafe--font-xl);
    }
    h3 {
      font-weight: 700;
    }
  }
  &__text {
    &-option {
      padding: 0 var(--cafe--padding-lg);
      color: var(--cafe-color-brown);
      line-height: 1.7;
      div {
        display: flex;
        justify-content: space-between;
        div {
          font: var(--cafe--font-lg);
          background-color: var(--cafe-color-gray);
          color: var(--cafe-color-gray-darken);
          letter-spacing: 0.1rem;
          height: 100%;
          padding: 0.5rem;
          border-radius: 1rem;
        }
      }
      h3,
      h5 {
        line-height: inherit;
      }
      li {
        display: flex;
        font-size: var(--cafe--font-md);
        margin-bottom: var(--cafe--margin-xs);
      }
      h3 {
        font-weight: 700;
      }
      h5 {
        font-size: var(--cafe--font-sm);
        color: var(--cafe-color-brown-lighter);
        margin-bottom: var(--cafe--margin-xxs);
      }
      p {
        margin-left: auto;
        color: var(--cafe-color-gray-darken);
      }
      input {
        width: 0;
        visibility: hidden;
      }
      label {
        font-size: var(--cafe--font-lg);
        cursor: pointer;
        position: relative;
        padding-left: 3rem;
      }
      textarea {
        @extend %base-btn-setting;
        border-color: var(--cafe-color-brown-lighter);
        padding: var(--cafe--padding-xxs);
        font-size: var(--cafe--font-lg);
        color: var(--cafe-color-brown);
        resize: none;
        &:focus {
          outline: none;
          border-color: var(--cafe-color-brown); /* 聚焦時的邊框顏色 */
        }
      }
    }
  }
  &__message {
    &-error {
      color: var(--cafe-color-red-darken) !important;
      background-color: var(--cafe-color-red) !important;
    }
  }
}

@media (min-width: 991px) {
  .popup {
    &__none {
      display: none !important;
    }
  }
}

@media (min-width: 768px) {
  .popup__img {
    height: 317px;
  }
}

@media (max-width: 425px) {
  .popup__container {
    border-radius: 0 !important;
  }
}
