@use "../mixin" as *;

.form {
  &__frame{
    display: grid;
    overflow-y: auto; 
    overflow-x: visible; 
    scrollbar-width: none
  }
  &__container {
    @include style-color(var(--cafe-color-brown), var(--cafe-color-white));
    @include border(transparent);
    padding: var(--cafe--padding-sm);
    display: grid;
    column-gap: 4rem;
    grid-template-rows: 30rem max-content;
    grid-template-columns: 4fr 6fr;
  }
  &__UploadImg {
    @include size(100%, 100%);
  }
  &__add-controller{
    @include style-color(var(--cafe-color-brown), var(--cafe-color-white));
    @include border(transparent);
      display: flex;
      margin: 2rem 0;
      padding: var(--cafe--padding-xs) var(--cafe--padding-sm);

  }
}
@media (max-width: 991px) {
  .form {
    &__container {
      grid-template-columns: 5fr 5fr;
    }
  }
}

// input、select、textarea
.form {
  &__text {
    &-option {
      padding: 0 var(--cafe--padding-lg);
      color: var(--cafe-color-brown);
      line-height: 1.7;
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        div {
          font-size: var(--cafe--font-sm);
          background-color: var(--cafe-color-gray);
          color: var(--cafe-color-gray-darken);
          letter-spacing: 0.1rem;
          height: 100%;
          padding: 0.5rem;
          border-radius: 1rem;
        }
      }
      h3,
      h5 {
        line-height: inherit;
      }
      li {
        display: flex;
        font-size: var(--cafe--font-md);
        margin-bottom: var(--cafe--margin-xs);
      }
      h3 {
        font-weight: 700;
      }
      h5 {
        font-size: var(--cafe--font-sm);
        color: var(--cafe-color-brown-lighter);
        margin-bottom: var(--cafe--margin-xxs);
      }
      p {
        margin-left: auto;
        color: var(--cafe-color-gray-darken);
      }
      input {
        width: 0;
        visibility: hidden;
      }
      label {
        display: flex;
        align-items: center;
        font-size: var(--cafe--font-md);
        cursor: pointer;
        position: relative;
        padding-left: 2rem;
      }
      textarea {
        @extend %base-btn-setting;
        border-color: var(--cafe-color-brown-lighter);
        padding: var(--cafe--padding-xxxs);
        font-size: var(--cafe--font-lg);
        color: var(--cafe-color-brown);
        resize: none;
        &:focus {
          outline: none;
          border-color: var(--cafe-color-brown);
        }
      }
    }
    &-label {
      font-size: 1.2rem;
      font-weight: 700;
    }
    &-grid {
      display: grid;
      gap: 0.5rem;
    }
    // input 自訂項目
    &-tag {
      @include style-color(var(--cafe-color-brown), var(--cafe-color-white));
      @include border(var(--cafe-color-brown-lighter));
      padding: 0.5rem;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      &:hover {
        @include border(var(--cafe-color-brown));
      }
      .content{
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        div{
          @include style-color;
          @include border;
          display: flex;
          align-items: center;
          gap: 0.5rem;
          padding: var(--cafe--padding-xxxs) var(--cafe--padding-xxs);
          font-size: var(--cafe--font-md);
          button{
            font-size: var(--cafe--font-sm);
            @include size(1.6rem);
            @include style-color(var(--cafe-color-brown),var(--cafe-color-white));
            @include border;
          }
        }
      }
    }
  }
  &__message {
    &-error {
      @include style-color(var(--cafe-color-red-darken) !important, var(--cafe-color-red)!important);
    }
  }
}
